* {
    margin: 0;
}

html, 
body {
    height: 100%;
}

.container {
    height: 100%;
    background-color: #383470;
    display: flex;
    justify-content: space-evenly;
}
.left-box {
    height: 90%;
    margin: 20px;
    width: 70%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-box {
    height: 90%;
    margin: 20px;
    width: 20%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.box {
    height: 40%;
    width: 80%;
    margin: 20px;
    background-color: rgb(17, 14, 37);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
