header {
    background-color: #333;
    border-bottom: red solid;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 24px;
  }
    main {
        margin: 90px;
        font-family: Arial, sans-serif;
        font-size: 25px;
        background-color: #3820be;
        box-shadow: 5px 20px 10px rgba(0, 0, 0, 1);
       
      }
    
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      input[type="text"] {
        width: 100px;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
      }
    
      button {
        background-color: #4CAF50;
        box-shadow: 5px 4px 12px rgba(0, 0, 2, 1);
        color: #fff;
        border: none;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        border-radius: 4px;
      }
    
    #result {
        padding: 10px;
        font-size: 24px;
        text-align-last: justify;
        font-weight: bold;
        width: 100px;
        height: 100px;
    background-color: #dbcfcf;
    border-radius: 50%;
    box-shadow: 10px 30px 10px rgba(0, 0, 0, 1);
      }


 