.input-fields {
  display: grid;
  width: 500px;
  background-color: lightblue;
  padding: 15px;
  font-size: 18px;
}
body {
  margin: 1px;
  background-color: rgb(230, 216, 195);
}
.container {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}
#submit {
  background-color: Blue;
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  width: 100%;
}
.error {
  color: red;
}
