#output {
  width: 3000px;
}
#output1 {
  width: 3000px;
}
* {
  color: rgb(222, 15, 39);

  font-weight: bolder;
}
.container {
  display: grid;
  justify-content: center;
  margin: 30px;
  padding: px;
}
.container:hover {
  background-image: url("https://img.freepik.com/free-photo/pastel-blue-vignette-concrete-textured-background_53876-102637.jpg");
}
