body {
  font-family: sans-serif;
  background-color: #da2828;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  background-color: rgb(253, 246, 246);
  box-shadow: 0px 0px 5px solid rgb(190, 189, 189);
}

h1 {
  text-align: center;
  color: #da2828;
  background-color: blue;
  border-radius: 10px;
}
h1:hover {
  background-color: rgb(255, 68, 0);
  color: rgb(131, 21, 241);
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  padding: 5px;
  border: 1px solid rgb(190, 189, 189);
  border-radius: 5px;
  width: 200px;
}

input[type="submit"] {
  padding: 5px;
  background-color: rgb(51, 134, 51);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(68, 31, 113);
}

#output-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  color: hwb(90 8% 91%);
}

#output-box div {
  padding: 10px;
  border: 1px solid rgb(190, 189, 189);
  border-radius: 5px;
}
