* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f6f7;
  }
  
  .header {
    height: 120px;
    background-color: #0a0a23;
    color: #fff;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    border-bottom: 4px solid whitesmoke;
  }
  .navigation {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0; 
    background: deepskyblue;
  }
  
  .navigation a {
    text-decoration: none;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
    background: #1565C0;
  }

  .AI {
height: 700px;
padding: 5px;
background-color: white;
display: grid;
grid-template-columns: 640px 640px 640px;
grid-template-rows: 350px 350px 350px
  }

.AI a:hover {
  background: #1565C0;
}
  
  .ML {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.ML img 
{
  border-radius: 50%;
}

.PA {
display: flex;  
justify-content: center;
align-items: center;
flex-direction: column;
  }
  .PA img {
  border-radius: 50%;
}
  .NLP {
display: flex;  
justify-content: center;
align-items: center;
flex-direction: column;
  }
  .NLP img {
  border-radius: 50%;
}
  .CV {
display: flex;  
justify-content: center;
align-items: center;
flex-direction: column;
  }
  .CV img {
  border-radius: 50%;
}
  .ES {
display: flex;  
justify-content: center;
align-items: center;
flex-direction: column;
  }
  .ES img {
  border-radius: 50%;
}
  .RB {
display: flex;  
justify-content: center;
align-items: center;
flex-direction: column;
  }
  .RB img {
  border-radius: 50%;
}