body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 20px;
}

h1,
h2 {
  color: black;
  margin-bottom: 10px;
}

#people-container,
#average-age-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 5px 0;
  border-bottom: 1px solid white;
}

li:last-child {
  border-bottom: none;
}

#average-age {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin: 0;
}
